<body>

  <div class="barre1">
    <button class="buttonSmall10 button-mat btn--7" routerLink="/connexion">
      <div class="psuedo-text10">retour</div>
    </button>
    <div class="barre2">
      <a class="titlePsuedo-text">Menu de création utilisateurs</a>
    </div>
  </div>

  <form class="form" [formGroup]="userForm">
    <h2>
      <p style="color:#3f51b5">Créez votre utilisateur</p>
    </h2>
    <div class="question">
      <input type="text" class="input" type="text" id="name" [formControlName]="'name'" value="" required/>
      <label class="label">Nom de l'utilisateur</label>
    </div>
    <div class="question">
      <input type="text" class="input" type="text" id="theme" [formControlName]="'picture'" value="" required/>
      <label class="label">Url image</label>
    </div>
    <br>
    <select class="select" style="color:#3f51b5" (change)="onChange($event)">
      <option *ngFor="let v of values" style="color:#3f51b5" [value]="v">{{v}}</option>
    </select>
    <br>
    <button class="button" (click)="addUser()" [disabled]="userForm.invalid">Créer</button>
  </form>

</body>









