<ng-container>

  <div class="header">
    <button class="buttonR button-mat btn--7" routerLink="/connexion" >
      <div class="psuedo-text">retour</div>
    </button>
    <button class="buttonA button-mat btn--7" routerLink="/select-desease">
      <div class="psuedo-text">Accueil</div>
    </button>
    <div class="psuedo-text2"><a class="psuedo-text3">Menu de création utilisateurs</a></div>
  </div>

  <div class="fullwidthwithborder">
  <form class="form" [formGroup]="userForm">
    <h2>
      <p style="color:#3f51b5">Créez votre utilisateur</p>
    </h2>
    <div class="question">
      <input type="text" class="input" type="text" id="name" [formControlName]="'name'" value="" required/>
      <label class="label">Nom de l'utilisateur</label>
    </div>
    <div class="question">
      <input type="text" class="input" type="text" id="theme" [formControlName]="'picture'" value="" required/>
      <label class="label">Url image</label>
    </div>
    <br>
    <select (change)="onChange($event)">
      <option *ngFor="let v of values" [value]="v">{{v}}</option>
    </select>
    <br>
    <button class="button" (click)="addUser()">Créer</button>
  </form>
  </div>
</ng-container>









