<div class="header">
  QuizSenior
</div>
<a class="fullwidthwithborder">
  <button class="button button-mat btn--7" routerLink="/menuTheme/menuThemeDmla"><div class="psuedo-text">DMLA</div>
  </button>
  <button class="button button-mat2 btn--7" routerLink="/menuTheme/menuThemeAlz">
    <div class="psuedo-text2">ALZ</div>
  </button>
  <button class="button button-mat btn--7" routerLink="/quiz-listDmla">
    <div class="psuedo-text">CREATE QUIZ DMLA</div>
  </button>
  <button class="button button-mat2 btn--7" routerLink="/quiz-list">
    <div class="psuedo-text2">CREATE QUIZ ALZ</div>
  </button>
</a>

