<div class="header">
  QuizSenior
</div>
<a class="fullwidthwithborder">
  <button class="button button-mat btn--7" routerLink="/menuTheme/menuThemeDmla"><div class="psuedo-text">QUIZ DMLA</div>
  </button>
  <button class="button button-mat2 btn--7" routerLink="/menuTheme/menuThemeAlz">
    <div class="psuedo-text2">QUIZ alzheimer</div>
  </button>
  <button class="button button-mat btn--7" routerLink="/quiz-listDmla">
    <div class="psuedo-text">CRéATION DE QUIZ DMLA</div>
  </button>
  <button class="button button-mat2 btn--7" routerLink="/quiz-list">
    <div class="psuedo-text2">CRéATION QUIZ alzheimer</div>
  </button>
  <button class="button button-mat2 btn--7" routerLink="/menu-score">
    <div class="psuedo-text2">SCORE</div>
  </button>
</a>

