@import '../../../styles/card.scss';

.bouton1 {
  background-color: #3f51b5;
  width: 48%;
  height: 45%;
  margin: 1% 1% 1% 1%;
}
.bouton2 {
  background-color: green;
  width: 48%;
  height: 45%;
  margin: 1% 1% 1% 1%;
}

.fullwidthwithborder {
  background-color: $grey;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
