<a class="fullwidthwithborder">
  <button class="bouton1" routerLink="/menuTheme">
    <FONT size="20pt" face="Verdana" color="black">DMLA</FONT>
  </button>
  <button class="bouton2" routerLink="/quiz-list">
    <FONT size="20pt" face="Verdana" color="black">ALZA</FONT>
  </button>
  <button class="bouton1" routerLink="/quiz-listDmla">
    <FONT size="20pt" face="Verdana" color="black">CREATE QUIZ DMLA</FONT>
  </button>
  <button class="bouton2" routerLink="/quiz-list">
    <FONT size="20pt" face="Verdana" color="black">CREATE QUIZ ALZA</FONT>
  </button>
</a>

