$app-background-color: #f2f2f2;
$blue: #3f51b5;
$white: white;
$burgundy : #7c4c53;
$blueAnswers : #073763;
$purpleAnswers : #4c1130;
$grey : #939597;
$correctAnswer : darkgreen;
$greenButton : #80856d;
$red : rgba(255,74,86,1);
$degradé1 :linear-gradient(to top right,#5E428C, #845EC2, #00C9B7,#26C28B);
$degradé2:linear-gradient(to bottom left, #845EC2, #00C9B7);
$border: solid purple;

$police : Arial;

