@import '../../../../styles/card.scss';
@import '../../../../styles/modelTypeMoche.scss';
@import '../../../../styles.scss';


.fullwidthwithborder {
  background: linear-gradient(to bottom right, #5533ff, #38e2ee);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 17%;
  height: 83%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/////////////////////////////////

body {
  background: $degradé1;
  //background-size: cover;
  //background-repeat: no-repeat;
  position: fixed;
  //left: 0;
  //top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  //border: dashed black;
  flex-direction: column;
}

button {
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer; }

.button {
  width: 31.28%;
  margin: 1% 1% 1% 1%;
  padding: 2.85rem;
  background: #F5F5F5;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  will-change: transform; }





.buttonT {
  margin: 1%;
  height: 48%;
  width: 12%;
  display: inline-block;
  background: #F5F5F5;

  border-radius: 10px;
  color: black;
  text-transform: uppercase;

  letter-spacing: .1rem;
  transition: all .15s;
  position: relative;
  overflow: visible;
  z-index: 1;

  font-size: 1.3rem;
  font-weight: 700;
  font-family: $police;
  will-change: transform;  }







