<img class='image' alt="QuestionImage" src="{{user.picture}}">
<div>{{user.name}}</div>
<ng-container *ngIf="user.type === 'DMLA'">
  <div class="bonttons">
    <button class="bouttonConnextionUser" (click)="userSelected()" routerLink="/{{user._id}}/menuDMLA">Connexion
    </button>
    <button class="bouttonSupprimerUser" (click)="deleteUser()">Supprimer</button>
  </div>
</ng-container>
<ng-container *ngIf="user.type === 'Alzheimer'">
  <div class="bonttons">
    <button class="bouttonConnextionUser" (click)="userSelected()" routerLink="/{{user._id}}/menuUserALZ">Connexion
    </button>
    <button class="bouttonSupprimerUser" (click)="deleteUser()">Supprimer</button>
  </div>
</ng-container>




