<a class="fullwidthwithborder">
  <div class="header">
    <button class="boutonReturn" routerLink="/menuTheme" >Retour</button><button class="boutonAcceuil" routerLink="/select-desease">Accueil</button>
    <FONT size="5pt" face="Verdana" color="black">Theme: {{themeService.themeSelected}}</FONT>
    <br>
    <FONT size="5pt" face="Verdana" color="black">Choisissez votre Questionnaire</FONT>

  </div>
  <div>
    <a *ngFor="let questionnaire of questionnaireList" [routerLink]="linkToQuiz">
      <button class="button button-mat btn--7" (click)="selectQuestionnaire(questionnaire)" routerLink="menuQuestionnaire"><div class="psuedo-text">{{questionnaire}}</div></button>
    </a>
  </div>
</a>


