<body>
<div class="barre1">
  <button class="buttonSmall10 button-mat btn--7" routerLink="/menuTheme/menuThemeDmla">
    <div class="psuedo-text">retour</div>
  </button>
  <div class="barre2">
    <a class="titlePsuedo-text">Choisissez votre Questionnaire</a>
  </div>
  <button class="buttonSmall button-mat btn--7" routerLink="/tutoriel">
    <div class="psuedo-text">Tutoriel</div>
  </button>
</div>

<div>
  <a *ngFor="let questionnaire of questionnaireList">
    <button class="button button-mat btn--7" (click)="selectQuestionnaire(questionnaire)"><div class="psuedo-text">{{questionnaire}}</div></button>
  </a>
</div>

</body>



