<body>
<div class="barre1">
  <button class="buttonSmall button-mat btn--7" routerLink="/connexion">
    <div class="psuedo-text">déconnexion</div>
  </button>
  <div class="barre2">
    <a class="titlePsuedo-text">Menu utilisateur DMLA</a>
  </div>
  <button class="buttonSmall button-mat btn--7" routerLink="tutoriel">
    <div class="psuedo-text">Tutoriel</div>
  </button>
</div>

<div class="inthemiddle">
  <button class="buttonLargeInMiddle button-mat btn--7" routerLink="Theme">
    <div class="psuedo-text">QUIZ Pour la DMLA</div>
  </button>
</div>

</body>
