<body >
<div class="barre1">
  <button class="buttonSmall button-mat btn--7" routerLink="/connexion">
    <div class="psuedo-text">déconnexion</div>
  </button>
  <div class="barre2">
    <a class="titlePsuedo-text">Menu personnel soignant</a>
  </div>
</div>

<div>
  <button class="buttonAccueilSU button-mat btn--7" routerLink="/quiz-listDmla">
    <!--    quiz-listDmla-->
    <div class="psuedo-text">gestion DEs QUIZ
      DMLA</div>
  </button>

  <button class="buttonAccueilSU button-mat btn--7" routerLink="/quiz-list">
    <div class="psuedo-text">Gestion DEs QUIZ alzheimer</div>
  </button>

  <button class="buttonAccueilScore button-mat btn--7" routerLink="/menu-score">
    <div class="psuedo-text">SCOREs</div>
  </button>

</div>

</body>





