@import '../../../styles.scss';
@import '../../../styles/modelTypeMoche.scss';

body {
  background: $degradé1;
  //background-size: cover;
  //background-repeat: no-repeat;
  position: fixed;
  //left: 0;
  //top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  //border: dashed black;
  flex-direction: column;
}

.back{
  background: $degradé1;
}


