<body >
<div class="barre1">
  <div class="barre2">
    <a class="titlePsuedo-text">Menu personnel soignant</a>
  </div>
</div>

<div>
  <button class="buttonAccueilSU button-mat btn--7" routerLink="/quiz-listDmla">
    <!--    quiz-listDmla-->
    <div class="psuedo-text">CRéATION DE QUIZ
      DMLA</div>
  </button>

  <button class="buttonAccueilSU button-mat btn--7" routerLink="/quiz-list">
    <div class="psuedo-text">CRéATION DE QUIZ alzheimer</div>
  </button>

  <button class="buttonAccueilSU button-mat btn--7" routerLink="/menu-score">
    <div class="psuedo-text">SCORE</div>
  </button>

  <button class="buttonAccueilDeconnexion button-mat2 btn--7" routerLink="/connexion">
    <div class="psuedo-text2">déconnexion</div>
  </button>
</div>

</body>





