<div class="card">
  <h2>Créer un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <label for="repetition">
      Répétition(s) <br>
      <input class="input-custom" type="checkbox" id="repetition" (change)="changeRepetition()">
    </label>
    <br>
    <ng-container *ngIf="repetition">
      <label for="nbRepetition">
        Nombre de répétition(s) <br>
        <input class="input-custom" type="text" id="nbRepetition" [formControlName]="'nbRepetition'">
      </label>
    </ng-container>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer le Quiz</button>
  </form>
</div>
