<div class="container">
  <div class="card">
    <div class="card-image">
      <h2 class="card-heading">
        Créez un quiz
      </h2>
    </div>
    <form class="card-form" [formGroup]="quizForm">
      <div class="input">
        <input type="text" class="input-field"  type="text" id="name" [formControlName]="'name'" value="" required/>
        <label class="input-label">Nom du quiz</label>
      </div>
      <div class="input">
        <input type="text" class="input-field" type="text" id="theme" [formControlName]="'theme'" value="" required/>
        <label class="input-label">Thème</label>
      </div>
      <div class="input">
        <input type="checkbox" id="repetition" (change)="changeRepetition()">
        <label for="repetition">Répétition(s)</label>
      </div>

      <ng-container *ngIf="repetition">
        <div class="input">
          <input type="text" class="input-field" value="" required/>
          <label class="input-label" id="nbRepetition" [formControlName]="'nbRepetition'">Nombre de répétitions</label>
        </div>
      </ng-container>
      <br>
      <button class="action-button" type="submit" (click)="addQuiz()">Créer</button>
    </form>
  </div>
</div>

