@import '../../../styles.scss';
@import '../../../styles/modelTypeMoche.scss';

.user{
  width: 10em;
  height: 95%;
  max-height: 300px;
  text-align: center;
  border-radius: 10px;
  border: solid black;

  margin: 1em;
  padding: 0.2em;
}

.globallistUser{
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  border: dashed forestgreen;
  justify-content: left;
  align-items: center;
}

.bouttonAddUser{
  width: 8em;
  height: 8em;

  max-height: 300px;

  background-color: white;
  margin: 1em;
  padding: 0.2em;
  border-radius: 10px;
  border: solid black;
  color: black;
  font-size: 100%;
  font-weight: 100;
  font-family: $police;
}

////////////

body {
  background: linear-gradient(to bottom right, rgba(255, 74, 86, 1), #5533ff);
  //background-size: cover;
  //background-repeat: no-repeat;
  position: fixed;
  //left: 0;
  //top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  border: dashed black;

  flex-direction: column;
}
