<ng-container ngform>
  <div *ngIf="quiz">
    <div *ngIf="currentQuestion < quiz.questions.length" class="fullwidthwithborder">
      <ng-container class="fullwidth" *ngFor="let answer of quiz.questions[currentQuestion].answers; index as i" >
        <button class="bouton1" *ngIf="i===0">
          <FONT size="20pt" face="Verdana" color="black">{{answer.value}}</FONT>
        </button>
        <button  class="bouton2" *ngIf="i===1">
          <FONT size="20pt" face="Verdana" color="black">{{answer.value}}</FONT>
        </button>
        <button class="bouton3" *ngIf="i===2">
          <FONT size="20pt" face="Verdana" color="black">{{answer.value}}</FONT>
        </button >
        <button class="bouton4" *ngIf="i===3">
          <FONT size="20pt" face="Verdana" color="black">{{answer.value}}</FONT>
        </button>
      </ng-container>
    </div>
  </div>
  <div *ngIf="currentQuestion>= quiz.questions.length">
    <button class="btn btn-success btn-block" (click)="showResult()">Show Result</button>
    <div *ngIf="result">
      Correct Answers: {{quizGameToCreate.correctAnswers}} | Incorrect Answers: {{quizGameToCreate.incorrectAnswers}}
    </div>
  </div>
</ng-container>


