<!--<button class="button-card" routerLink="/quiz-listDmla">Back</button>-->
<div *ngIf="quiz">
  <!--  <div class="row">-->
  <!--    <div class="col-sm-8 offset-2">-->
  <div class="fullwidthwithborder" *ngIf="currentQuestion < quiz.questions.length">
    <!--    <p class="text-center">{{currentQuestion + 1}} of {{quiz.questions.length}}</p>-->
    <!--    <h1>{{quiz.questions[currentQuestion].label}}</h1>-->

    <a *ngFor="let answer of quiz.questions[currentQuestion].answers; index as i">
<!--            <a appBackground [correctAnswer]="answer.isCorrect">-->
      <!--          <input type="radio" name="answer" (change)="onAnswer(answer)" [disabled]="answerSelected">-->
      <!--          {{answer.value}}-->

      <button class="bouton" id = "JSP" (click)="answerSelectedForClass($event, i)">{{answer.value}}</button>
    </a>
    <!--    </a>-->
    <!--      </div>-->
    <!--      <div *ngIf="currentQuestion>= quiz.questions.length">-->
    <!--        <button class="btn btn-success btn-block" (click)="showResult()">Show Result</button>-->
    <!--        <div *ngIf="result">-->
    <!--          Correct Answers: {{quizGameToCreate.correctAnswers}} | Incorrect-->
    <!--          Answers: {{quizGameToCreate.incorrectAnswers}}-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>

