@import '../../../styles/card.scss';

.fullwidthwithborder {
  background-color: $grey;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.fullwidthwithborder2 {
  background-color: $grey;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.bouton {
  background-color: $blueAnswers;
  width: 48%;
  height: 46%;
  margin: 1% 1% 1% 1%;
}

.boutonselected {
  background-color: $purpleAnswers;
  width: 48%;
  height: 46%;
  margin: 1% 1% 1% 1%;
}

.boutonselectedTrue {
  background-color: darkgreen;
  width: 48%;
  height: 46%;
  margin: 1% 1% 1% 1%;
}

.boutonselectedFalse {
  background-color: darkred;
  width: 48%;
  height: 46%;
  margin: 1% 1% 1% 1%;
}

.question {
  background-color: $purpleAnswers;
  width: 50%;
  height: 50%;
  margin-top: 13%;
  margin-left: 25%;
}

.boutonChangerQuiz {
  background-color: $blueAnswers;
  width: 48%;
  height: 46%;
  margin-top:3%;
}

