<div *ngIf="quiz">
  <div class="fullwidthwithborder" *ngIf="currentQuestion < quiz.questions.length">
    <a *ngIf="currentQuestion < quiz.questions.length && showQuestion" class="fullwidthwithborder">
      <button class="question" (click)="passQuestion()">
        <FONT size="20pt" face="Verdana" color="black">QUESTION</FONT>
      </button>
    </a>
    <a *ngFor="let answer of quiz.questions[currentQuestion].answers; index as i">
      <button class="boutonselected" (click)="answerSelectedForClass($event, i, answer)" *ngIf="i===0">
        <FONT size="20pt" face="Verdana" color="black">{{listAnswer[i]}}</FONT>
      </button>
      <button class="bouton" (click)="answerSelectedForClass($event, i, answer)" *ngIf="i!==0">
        <FONT size="20pt" face="Verdana" color="black">{{listAnswer[i]}}</FONT>
      </button>
    </a>
  </div>
  <div class="fullwidthwithborder2" *ngIf="currentQuestion>= quiz.questions.length">
    Bonne réponse: {{quizGameToCreate.correctAnswers}}
    <br>
    Mauvaise réponse: {{quizGameToCreate.incorrectAnswers}}
    <br>
    <button class="bouton" routerLink="/select-desease" >
      <FONT size="20pt" face="Verdana" color="black">Accueil</FONT>
    </button>
    <button class="bouton" routerLink="/menuTheme" >
      <FONT size="20pt" face="Verdana" color="black">Changer de quiz</FONT>
    </button>

    <div *ngIf="currentQuestion>= quiz.questions.length">
      Bonne réponse: {{quizGameToCreate.correctAnswers}}
      <br>
      Mauvaise réponse: {{quizGameToCreate.incorrectAnswers}}
      <br>
    </div>

  </div>
</div>

