<div class="form">
  <div class="card123">
    <a *ngIf="supprimer===false">
    <h2>
      <p style="color:#3f51b5">{{question.label}}</p>
    </h2>
    <div class="answerdmla" *ngFor="let answer of question.answers; let i=index">
      <p style="color:#3f51b5">{{i}} - {{answer.value}}</p>
      <ng-container *ngIf="answer.isCorrect">
        <i class="far fa-check-square"></i>
      </ng-container>
      <br>
    </div>
    <button class="buttonedit" (click)="confirmDeletion()">Supprimer</button>
    </a>
    <a *ngIf="supprimer===true">
      Etes-vous sur de vouloir supprimer le quiz ?
      <div>
        <button class="boutonAnnuler" (click)="cancelDeletion()">Annuler</button>
        <button class="boutonSupprimerQuestion" (click)="delete()">Supprimer</button>
      </div>
    </a>
  </div>
</div>



