
.quiz-list {
  display: flex;
  margin-top: 1em;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background: linear-gradient(to bottom right, #32CD32, #008BC6);
  width: 100%;
  height: 17%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 20px 0 rgba(0, 0, 0, 0.12);
  //possiblement à enlever la partie ci-dessous
  text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.flex-1 {
  //flex: 0px;
  width: 250px;
  margin: 50px 50px;
  display: flex;
  justify-content: space-evenly;
}

.boutonReturn{
  position: fixed;
  left: 4%;
  top: 5%;
}
.boutonAcceuil{
  position: fixed;
  left: 24%;
  top: 5%;
}

div.containercenter {
  height: 10em;
  position: fixed }

div.containercenter {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) }


div.containerlist {
  margin: 0;
  position: relative; //a changer pour modifier la taille des carrés noirs
  top: 300%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }


.psuedo-text {
  color: #5533ff;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  font-size: 1.7rem;
  transition: .25s ease-in;
  transition-delay: .05s; }

.psuedo-text2 {
  position: fixed;
  margin: 1% 1% 1% 1%;
  padding: 1.3rem;
  background: transparent;
  text-align: center;
  display: inline-block; }

.psuedo-text3 {
  color: #F5F5F5;
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline;
  height: auto;
  font-size: 1.8rem;
  transition: .25s ease-in;
  transition-delay: .05s; }



.buttonAccueil {

  position: fixed;
  margin: 1% 1% 1% 1%;
  padding: 1.1rem;
  background: #F5F5F5;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  will-change: transform; }

.buttonReturn {
  position: fixed;
  margin: 1% 1% 1% 1%;
  padding: 1.1rem;
  background: #F5F5F5;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  will-change: transform; }

.button-mat {
  color: #5533ff;
  border: 0px transparent;
  border-radius: .3rem;
  transition: .3s ease-in-out;
  transition-delay: .15s;
  overflow: hidden; }

.btn--7 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
