@import '../../../styles/card.scss';
@import '../../../styles.scss';


.quiz-list {
  display: flex;
  margin-top: 1em;
}

.fullwidthwithborder {
  background: linear-gradient(to bottom right,$red, #FBAA99);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 17%;
  height: 83%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

div.containercenter {
  height: 10em;
  position: fixed }

div.containercenter {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) }


div.containerlist {
  margin: 0;
  position: relative; //a changer pour modifier la taille des carrés noirs
  top: 300%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }







