<body>
  <div class="barre1">
    <button class="buttonSmall10 button-mat btn--7" routerLink="/menu/menuSuperUser">
      <div class="psuedo-text">retour</div>
    </button>
    <div class="barre2">
      <a class="titlePsuedo-text">Historique</a>
    </div>
  </div>


  <div class="newHeaderRecherche">
    <form action="" class="listUserRecherche">

      Recherche utilisateur :
      <input type="text" list="personne" id="recherche" value="" (change)="loadScore($event)">
      <datalist id="personne">
        <option *ngFor="let u of user">{{u.name}}</option>
      </datalist>
    </form>
  </div>
  <div class="globallistUser">
    <div class="user" *ngFor="let user of user">
      <app-user-score [user]="user"></app-user-score>
    </div>
  </div>

</body>

