@import '../../../styles/card.scss';
@import '../../../styles.scss';


.center {
  text-align: center;
  margin: 5%;
  overflow-inline: scroll;
  line-height: 6rem;
  font-size: 65px; ///
}

.button_correct {
  color: white;
  width: 48%;
  margin: 1% 1% 1% 1%;
  padding: 6.5rem;
  background: #32CD32;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  will-change: transform;
}

.button-mat2_correct {
  color: #008BC6;
  border: 0 transparent;
  border-radius: .3rem;
  transition: .3s ease-in-out;
  transition-delay: .15s;
  overflow: hidden;
}

.button-mat2_correct:before {
  content: '';
  display: block;
  background: #32CD32;
  position: absolute;
  width: 200%;
  height: 500%;
  border-radius: 100%;
  transition: 0.16s cubic-bezier(0.4, 0, 1, 1);
}

.button-mat2_correct:hover {
  color: transparent;
}

.button_correct > .psuedo-text {
  color: white;
}

.whiteBox {
  background-color: $white;
  font-family: Verdana, sans-serif;
  text-align: center;
  width: 45%;
  height: 45%;
  padding: 5%;
  margin-top: 10%;
  margin-bottom: 3%;
  margin-left: 22.5%;
}


.fullwidthwithborder {
  background-color: $grey;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000000;
}

.fullwidth {
  position: fixed;
  left: 0;
  margin-top: 30%;
  top: 100%;
  height: 100%;
  width: 100%;
  z-index: 1000000;
}

.image {
  display: block;
  margin: 3% auto 5%;
  width: 30%;
  border-radius: .3rem;
}

.image-mat {
  border: 0px transparent;
  border-radius: .3rem;
  transition: .3s ease-in-out;
  transition-delay: .15s;
  overflow: hidden;
}

.button {
  width: 48%;
  height: 30%;
  max-height: 200%;
  margin: 1% 1% 1% 1%;
  padding: 6.5rem;
  background: #F5F5F5;
  text-align: center;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  will-change: transform; }

.button-mat {
  color: #5533ff;
  border: 0px transparent;
  border-radius: .3rem;
  transition: .3s ease-in-out;
  transition-delay: .15s;
  overflow: hidden; }
.button-mat:before {
  content: '';
  display: block;
  background: #401aff;
  position: absolute;
  width: 200%;
  height: 500%;
  border-radius: 100%;
  transition: 0.16s cubic-bezier(0.4, 0, 1, 1); }
.button-mat:hover .psuedo-text {
  color: #F5F5F5; }
.button-mat:hover {
  color: transparent; }




