<button class="button-card" routerLink="/quiz-list">Back</button>
<ng-container *ngIf="quiz">
  <div class="fullwidthwithborder">
    <div *ngIf="!end">
      <h1>{{questions$.getValue()[0].label}}</h1>
      <ul class="question-list" *ngFor="let answer of questions$.getValue()[0].answers">
        <label>
          <li class="list-group-item" appBackground [correctAnswer]="answer.isCorrect">
            <input type="radio" name="answer" (change)="onAnswer(answer, questions$.getValue()[0])" [disabled]="answerSelected">
            {{answer.value}}
          </li>
        </label>
      </ul>
    </div>


    <div *ngIf="end">
      <h1 class="text-center" >Quiz terminé !</h1>
        Correct Answers: {{quizGameToCreate.correctAnswers}} | Incorrect Answers: {{quizGameToCreate.incorrectAnswers}}
    </div>
  </div>
</ng-container>

