<ng-container class="flex-1">
  <div class="header">
    <button class="buttonA button-mat2 btn--7" routerLink="../">
      <div class="psuedo-text2">retour</div>
    </button>
<!--    <button class="buttonA button-mat2 btn&#45;&#45;7" routerLink="../../select-desease">-->
<!--      <div class="psuedo-text2">Accueil</div>-->
<!--    </button>-->
    <div class="psuedo-text"><a class="psuedo-text3">Choisissez votre Thème</a></div>
  </div>
  <div class="fullwidthwithborder">
    <div>
      <a *ngFor="let theme of themeList">
        <button class="button button-mat2 btn--7" (click)="selectTheme(theme)" routerLink="../{{theme}}/choixQuiz">
          <div class="psuedo-text2">{{theme}}</div>
        </button>
      </a>
    </div>
  </div>
</ng-container>
