<ng-container class="flex-1">
  <div class="header">
      <button class="buttonR button-mat btn--7" routerLink="../../select-desease" >
        <div class="psuedo-text">retour</div>
      </button>
      <button class="buttonA button-mat btn--7" routerLink="../../select-desease">
        <div class="psuedo-text">Accueil</div>
      </button>
      <div class="psuedo-text2"><a class="psuedo-text3">Choisissez votre Thème</a></div>
  </div>
  <div class="fullwidthwithborder">
   <div>
      <a *ngFor="let theme of themeList">
        <button class="button button-mat btn--7" (click)="selectTheme(theme)" routerLink="/menu/menuQuestionnaireAlz"><div class="psuedo-text">{{theme}}</div></button>
      </a>
    </div>
  </div>
</ng-container>
