<body>
    <div class="card">
      <div class="card__content">

        <a *ngIf="supprimer===false">
        <div>
          <h3>{{quiz.name}}</h3>
           {{quiz.theme}}
          <br>
          Nombre de questions : {{quiz.questions.length}}
          <br>
          Nombre de répétitions : {{quiz.nbRepetition}}
        </div>
        <button class="card__button btn-3 " (click)="confirmDeletion()">Supprimer</button>
        <button class="card__button btn-3" routerLink="../edit-quiz/{{quiz._id}}">Modifier</button>
        </a>
        <a *ngIf="supprimer===true">
          Etes-vous sûr(e) de vouloir supprimer le quiz ?
          <div>
            <button class="boutonAnnuler" (click)="cancelDeletion()">Annuler</button>
            <button class="boutonSupprimerQuiz" (click)="delete()">Supprimer</button>
          </div>
        </a>
      </div>
    </div>
</body>
