<ng *ngIf="game">
    <h2>
        {{quiz.name}}
    </h2>
  Nombre de répétition des questions : {{game.nbRepetition}}
  <br>
  Nombre de questions du quiz : {{quiz.questions.length}}
  <br>
  Nombre de questions répondues correctement : {{game.correctAnswers}}
  <br>
  Nombre de questions répondues incorrectement : {{game.incorrectAnswers}}
  <br>
  Nombre total de questions répondues : {{game.correctAnswers + game.incorrectAnswers}}
  <br>
  Date : {{buildDate()}}
  <br>
  Heure : {{buildTime()}}
  <br>
  <label for="detail">Afficher le détail</label>
  <br>
  <input class="input-custom" type="checkbox" id="detail" (change)="displayAnswers()">
  <ng *ngIf="display">
    <br>
    <ng *ngFor="let answer of answers" >
      Question : {{buildQuestion(answer)[0]}}
      <br>
      Réponse : {{buildQuestion(answer)[1]}}
      <br>
    </ng>
  </ng>
</ng>
