<ng-container class="flex-1">
  <div class="header">
    <button class="buttonR button-mat btn--7" routerLink="/select-desease" >
      <div class="psuedo-text">retour</div>
    </button>
    <button class="buttonA button-mat btn--7" routerLink="/select-desease">
      <div class="psuedo-text">Accueil</div>
    </button>
    <div class="psuedo-text2"><a class="psuedo-text3">Menu de création de Quiz</a></div>
  </div>


  <div class="fullwidthwithborder">
    <div class="containercenter">
      <div class="containerlist">
        <app-quiz-formdmla>
          margin-left: auto;
          margin-right: auto;
        </app-quiz-formdmla>
  <div class="quiz-list">
    <br>
    <div class="quiz" *ngFor="let quiz of quizList">
      <app-quizdmla [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quizdmla>
    </div>
  </div>
      </div>
    </div>
  </div>


</ng-container>



