<body>
<div class="barre1">
  <button class="buttonSmall10 button-mat btn--7" routerLink="/menu/menuSuperUser">
    <div class="psuedo-text">retour</div>
  </button>
  <div class="barre2">
    <a class="titlePsuedo-text">Création de quiz pour la DMLA</a>
  </div>
</div>

<div class="creationQuiz">
  <div class="creationQuizCompo">
    <h2>
      <p style="color:white">Quiz : {{quiz.name}}</p>
    </h2>

    <app-question-formdmla [quiz]="quiz"></app-question-formdmla>
    <app-question-listdmla class="button-matA" [quiz]="quiz"></app-question-listdmla>
  </div>
</div>

</body>



