<body>
<div class="barre1">
  <button class="buttonSmall10 button-mat btn--7" routerLink="/quiz-listDmla">
    <div class="psuedo-text">Terminer</div>
  </button>
  <div class="barre2">
    <a class="titlePsuedo-text">Quiz : {{quiz.name}}</a>
  </div>
</div>

<div class="creationQuiz">
  <div class="creationQuizCompo">
    <app-question-formdmla [quiz]="quiz"></app-question-formdmla>
    <app-question-listdmla class="button-matA" [quiz]="quiz"></app-question-listdmla>
  </div>
</div>

</body>



